<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".all.qtoon.UrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="qtoon.com" />
                <data android:host="www.qtoon.com" />
                <data android:scheme="https" />

                <data android:pathPattern="/detail/..*" />
                <data android:pathPattern="/.*/detail/..*" />
                <data android:pathPattern="/reader/..*" />
                <data android:pathPattern="/.*/reader/..*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
