<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="eu.kanade.tachiyomi.extension.fr.scantradunion.UrlActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="scantrad-union.com" />
                <data android:pathPrefix="/manga/" />
                <data android:pathPrefix="/projets/" />
                <data android:pathPrefix="/read/" />
            </intent-filter>
        </activity>
    </application>
</manifest>
