.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build/
/captures
.idea/
*.iml
repo/
apk/
gen
generated-src/
lib-multisrc/
src/all
src/ar
src/bg/utsukushii
src/ca
src/cs/evilproduction
src/de
src/en
src/es
src/fr
src/hi/comicsvalley
src/id
src/it
src/ja
src/ko
src/pl/mangahona
src/pt
src/ru
src/th
src/tr
src/uk
src/vi
