<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".all.mangadex.MangadexUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="mangadex.org" />
                <data android:host="canary.mangadex.dev" />
                <data android:scheme="https" />

                <data android:pathPattern="/title/..*" />
                <data android:pathPattern="/manga/..*" />
                <data android:pathPattern="/chapter/..*" />
                <data android:pathPattern="/group/..*" />
                <data android:pathPattern="/author/..*" />
                <data android:pathPattern="/user/..*" />
                <data android:pathPattern="/list/..*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
