<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="eu.kanade.tachiyomi.multisrc.libgroup.LibUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- LibUrlActivity sites can be added here. -->
                <data
                    android:host="v1.hentailib.org"
                    android:pathPattern="/..*/v..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
