<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="eu.kanade.tachiyomi.multisrc.readerfront.ReaderFrontActivity"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:exported="true"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="${SOURCEHOST}"/>
                <data android:host="*.${SOURCEHOST}"/>
                <data android:pathPattern="/work/..*"
                      android:scheme="${SOURCESCHEME}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
