<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:exported="true"
            android:name=".en.hentainexus.HentaiNexusActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="hentainexus.com" />

                <data android:pathPattern="/view/..*"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
