<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.procomic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="ProComic"
        android:icon="@mipmap/ic_launcher">
        
        <meta-data
            android:name="tachiyomi.extension.factory"
            android:value="ar.procomic.ProComicFactory" />
            
        <meta-data
            android:name="tachiyomi.extension.lang"
            android:value="ar" />
            
        <meta-data
            android:name="tachiyomi.extension.nsfw"
            android:value="false" />
    </application>

</manifest>
