<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".vi.yurineko.YuriNekoUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="yurineko.moe"
                    android:scheme="https" />

                <data android:pathPattern="/manga/..*" />
                <data android:pathPattern="/origin/..*" />
                <data android:pathPattern="/author/..*" />
                <data android:pathPattern="/tag/..*" />
                <data android:pathPattern="/couple/..*" />
                <data android:pathPattern="/team/..*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
