<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="tachiyomi.extension" />

    <application android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:label="${appName}">

        <meta-data android:name="tachiyomi.extension.class" android:value="${extClass}" />
        <meta-data android:name="tachiyomi.extension.factory" android:value="${extFactory}" />
        <meta-data android:name="tachiyomi.extension.nsfw" android:value="${nsfw}" />
        <meta-data android:name="tachiyomi.extension.hasReadme" android:value="${hasReadme}" />
        <meta-data android:name="tachiyomi.extension.hasChangelog" android:value="${hasChangelog}" />

    </application>

</manifest>
