<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".all.comickfun.ComickFunUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="comick.cc" />
                <data android:host="comick.ink" />
                <data android:host="comick.app" />
                <data android:host="comick.fun" />
                <data android:pathPattern="/comic/.*/..*" />
                <data android:pathPattern="/comic/..*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
