<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="eu.kanade.tachiyomi.extension.pt.mangalivre.ReaderVerificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>
</manifest>
