<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".all.mangaplus.MangaPlusUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mangaplus.shueisha.co.jp"
                    android:pathPattern="/titles/..*"
                    android:scheme="https" />
                <data
                    android:host="www.mangaplus.shueisha.co.jp"
                    android:pathPattern="/titles/..*"
                    android:scheme="https" />
                <data
                    android:host="jumpg-webapi.tokyo-cdn.com"
                    android:path="/www/sns_share"
                    android:scheme="https" />
                <data
                    android:host="www.jumpg-webapi.tokyo-cdn.com"
                    android:path="/www/sns_share"
                    android:scheme="https" />
                <data
                    android:host="mangaplus.shueisha.co.jp"
                    android:pathPattern="/viewer/..*"
                    android:scheme="https" />
                <data
                    android:host="www.mangaplus.shueisha.co.jp"
                    android:pathPattern="/viewer/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
