<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="eu.kanade.tachiyomi.extension.all.yskcomics.YSKComicsUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="www.ysk-comics.com" />
                <data android:scheme="https" />

                <data android:pathPattern="/ar/comic/..*" />
                <data android:pathPattern="/en/comic/..*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
