<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".all.cubari.CubariUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <!-- We need another intent filter so the /a/..* shortcut -->
            <!-- doesn't pollute the cubari one, since they work in any combination -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.cubari.moe" />
                <data android:host="cubari.moe" />

                <data
                    android:pathPattern="/read/..*"
                    android:scheme="https" />

                <data
                    android:pathPattern="/proxy/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.guya.moe" />
                <data android:host="guya.moe" />

                <data
                    android:pathPattern="/proxy/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.imgur.com" />
                <data android:host="imgur.com" />

                <data
                    android:pathPattern="/a/..*"
                    android:scheme="https" />

                <data
                    android:pathPattern="/gallery/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.reddit.com" />
                <data android:host="reddit.com" />

                <data
                    android:pathPattern="/gallery/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.imgchest.com" />
                <data android:host="imgchest.com" />

                <data
                    android:pathPattern="/p/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.catbox.moe" />
                <data android:host="catbox.moe" />

                <data
                    android:pathPattern="/c/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
