<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".zh.baozimanhua.BaoziUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="*.baozimh.com" />
                <data android:host="baozimh.com" />

                <data android:host="*.webmota.com" />
                <data android:host="webmota.com" />

                <data
                    android:pathPattern="/comic/..*"
                    android:scheme="https" />
                <data
                    android:pathPattern="/comic/chapter/..*"
                    android:scheme="https" />

            </intent-filter>
        </activity>
    </application>
</manifest>
