<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".all.comikey.ComikeyUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:host="comikey.com" />
                <data android:host="br.comikey.com" />
                <data
                    android:pathPattern="/comics/..*/..*/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
