<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="eu.kanade.tachiyomi.extension.all.weebdex.WeebDexUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="weebdex.org" />
                <data android:host="www.weebdex.org" />
                <data android:scheme="https" />

                <data android:pathPrefix="/title/" />
                <data android:pathPrefix="/chapter/" />
            </intent-filter>
        </activity>
    </application>
</manifest>
