name: Build extensions

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Generate signing key
        run: |
          keytool -genkeypair \
            -alias waltzy \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -keystore signingkey.jks \
            -storepass password 123 
