name: Build extensions

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Generate signing key
        run: |
          keytool -genkeypair \
            -alias key \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -keystore signingkey.jks \
            -storepass android \
            -keypass android \
            -dname "CN=waltzy, OU=waltzy, O=waltzy, L=Unknown, ST=Unknown, C=US"

      - name: Build extensions
        run: |
          chmod +x ./gradlew
          ./gradlew assembleRelease -x spotlessCheck -x spotlessGradleCheck --no-build-cache
        env:
          STORE_PASSWORD: android
          KEY_PASSWORD: android
          KEY_ALIAS: key

      - name: Generate repo
        run: python3 .github/scripts/generate-repo.py

      - name: Deploy repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: repo
          publish_dir: . /output
