# Sync repo to the Codeberg mirror
name: Mirror Sync

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Manual dispatch
  schedule:
    - cron: "0 */8 * * *"

permissions: {}

jobs:
  codeberg:
    if: "github.repository == 'keiyoushi/extensions-source'"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: pixta-dev/repository-mirroring-action@674e65a7d483ca28dafaacba0d07351bdcc8bd75 # v1.1.1
        with:
          target_repo_url: "git@codeberg.org:keiyoushi/extensions-source.git"
          ssh_private_key: ${{ secrets.CODEBERG_SSH }}
