<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".zh.jinmantiantang.JinmantiantangUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="18comic.vip"
                    android:pathPattern="/album/..*"
                    android:scheme="https" />
                <data
                    android:host="18comic.org"
                    android:pathPattern="/album/..*"
                    android:scheme="https" />
                <data
                    android:host="jmcomic.me"
                    android:pathPattern="/album/..*"
                    android:scheme="https" />
                <data
                    android:host="jmcomic1.me"
                    android:pathPattern="/album/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
